<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "emp" class = "com.bridgelabz.di.EmployeeInfo"> 
    	<property name = "empName" value = "Raja" />
		<property name = "empAge" value = "25" />
    </bean>
    
     <bean id = "dept" class = "com.bridgelabz.di.DepartmentInfo"> 
    	<constructor-arg name = "departmentName" value = "Research" />
		<constructor-arg name = "departmentAddress" value = "Ameerpet"/>
     </bean>
    
</beans>