<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
    <context:property-placeholder location="classpath:employee-info.properties"/>
 
    <bean id = "emp" class = "com.bridgelabz.di.EmployeeInfo"> 
    </bean>
    
     <bean id = "dept" class = "com.bridgelabz.di.DepartmentInfo"> 
    	<constructor-arg name = "departmentName" value = "Research" />
		<constructor-arg name = "departmentAddress" value = "Ameerpet"/>
     </bean>
    
</beans>